.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
java/NinjaPerson/sql/sqlite-tools/sqldiff.exe
java/NinjaPerson/sql/sqlite-tools/sqlite3_analyzer.exe
java/NinjaPerson/sql/sqlite-tools/sqlite3.exe
.vscode/settings.json
